/*
 Theme Name:   Edin Child Theme
 Theme URI:    https://github.com/austinjp/edin-child-theme
 Description:  Edin Child Theme
 Author:       Austin Plunkett
 Author URI:   https://github.com/austinjp
 Template:     edin
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  edin-child
*/


/* Note: Edin uses breakpoints at 600, 768, 1024, 1230 */

h1, h2, h3, h4, h5, h6, .more-link, .site-title { text-transform: none !important; }

.grid {
    background-color: white;
    padding: 4px;
    margin-bottom: 10px;
}

.edin-improved-post-thumbnail, .edin-improved-post-thumbnail-landscape {
    height: 180px;
    width: 100%;
    margin: 0 auto !important;
}

.edin-improved-post-thumbnail-square {
    height: 330px;
    width: 100%;
    margin: 0 auto;
}

/* Make the first 3 thumbnails larger, and the last 3 thumbnails smaller */
/* This requires your grid to be in multipled of three! */

.grid:last-child .edin-improved-post-thumbnail,
.grid:nth-last-child(2) .edin-improved-post-thumbnail,
.grid:nth-last-child(3) .edin-improved-post-thumbnail,
.grid:last-child .edin-improved-post-thumbnail-square,
.grid:nth-last-child(2) .edin-improved-post-thumbnail-square,
.grid:nth-last-child(3) .edin-improved-post-thumbnail-square,
.grid:last-child .edin-improved-post-thumbnail-landscape,
.grid:nth-last-child(2) .edin-improved-post-thumbnail-landscape,
.grid:nth-last-child(3) .edin-improved-post-thumbnail-landscape
{
    height: 120px;
}

.grid:first-child .edin-improved-post-thumbnail,
.grid:nth-child(2) .edin-improved-post-thumbnail,
.grid:nth-child(3) .edin-improved-post-thumbnail,
.grid:first-child .edin-improved-post-thumbnail-square,
.grid:nth-child(2) .edin-improved-post-thumbnail-square,
.grid:nth-child(3) .edin-improved-post-thumbnail-square,
.grid:first-child .edin-improved-post-thumbnail-landscape,
.grid:nth-child(2) .edin-improved-post-thumbnail-landscape,
.grid:nth-child(3) .edin-improved-post-thumbnail-landscape
{
    height: 240px;
}


/* ############################################# */

img.edin-improved-post-thumbnail {
    display: none;
}

.grid .has-post-thumbnail.hentry {
    text-align: center !important;
}

.grid .entry-header,
.grid .entry-summary,
.grid .entry-footer {
    text-align: left;
}

#colophon {
    display: none;
}

h1.site-title {
  padding: 0 !important;
}


/* ############################################## */

#colophon {
  display: none !important;
}

h1.site-title {
  padding: 0 !important;
}

.home.page .hero .hentry .entry-content p {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);
  font-size: 1.3em;
  line-height: 1.3em;
  letter-spacing: 1px;
}

/* ######################### Edin menu tweaks ############################# */

li .current-menu-item,
li .current_page_item,
li .current-menu-item a,
li .current_page_item a,
li.current_page_item,
li.current_page_item > a {
  color: white !important;
}

ul#menu-top-menu li a {
  text-transform: none;
}

@media screen and (min-width: 1024px) {
  .primary-navigation {
    background-color: silver;
  }
}

.header-wrapper.clear {
  /* border: 0; */
}

button.menu-toggle {
    /* padding: 15px !important; */
    text-align: center !important;
}

button.search-toggle.open:before,
button.search-toggle.open {
    background-color: transparent;
    color: #202020 !important;
}

/* ######################### Edin featured pages on front page tweaks ############################# */

.home.page .featured-page-area {
  background-color: #f3f2f1;
}

.home.page .featured-page .hentry {
  background-color: white;
  padding: 4px;
  -webkit-box-shadow: 1px 12px 31px -14px rgba(0,0,0,0.45);
  -moz-box-shadow: 1px 12px 31px -14px rgba(0,0,0,0.45);
  box-shadow: 1px 12px 31px -14px rgba(0,0,0,0.45);
}

@media screen and (max-width: 600px) {
  .home.page .featured-page {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .home.page .featured-page {
    padding-bottom: 24px;
  }
}

.home.page .entry-header, .entry-title {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* ######################### Edin page header tweaks ############################# */

.site-header {
  background-color: #e9e8e7;
}
